* {
    margin: 0;
    padding: 0;
}

body {
    background: #000814;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 0.5fr;
    gap: 20px 0px;
    grid-template-areas:
        "blank blank-2 blank-4"
        "blank editor blank-4"
        "blank preview blank-4"
        "blank blank-3 blank-4";
}

#editor {
    grid-area: editor;
    font-size: 16px;
    padding: 10px;
    outline: none;
    background-color: #c7f9cc;
    color: #001d3d;
}

#editor:focus{
    box-shadow: 0px 0px 3px 3px #c7f9cc;
}

#preview {
    grid-area: preview;
    position: relative;
    color: #c7f9cc;
    text-align: center;
    font-family: cursive;
    padding: 20px;
    border: 1px solid #c7f9cc;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 20px;
    background-color: #000814;
    overflow: hidden;
    z-index: 1;
}

#preview code {
    position: absolute;
    border-radius: 4px;
    padding: 5px 0px;
    font-size: 12px;
    font-weight: bold;
}

#preview img {
    width: 200px;
    border-radius: 50%;
}

.title {
    color: #b1ffc3;
    grid-area: blank-2;
    align-self: center;
    justify-self: center;
    text-align: center;
}

@media (max-width: 500px){
    #preview img{
        width: 80px;
    }
    #editor{
        font-size: 12px;
    }

}
